<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="CSS/index.css">
</head>

<body>
    <div class="container not-auth">
        <button type="button" id="loginButton">Login</button>
        <button type="button" id="signUpButton">Sign up</button>
    </div>
    <div class="container auth d-none">
        <h1>You are logged in</h1>
        <button type="button" id="signOutButton">Sign Out</button>
    </div>

    <div class="form-container d-none">
        <form action="">
            <label for="" id="username-input">Username
                <input type="text" />
            </label>

            <label for="" id="email-input">Email
                <input type="text" />
            </label>

            <label for="" id="password-input">Password
                <input type="password" />
            </label>

            <label for="" id="password2-input">Repeat Password
                <input type="password" />
            </label>
        </form>
        <h4 id="change">Create Account/You have account?</h4>
    </div>
</body>

<script src="JS/index.js"></script>

</html>