<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="CSS/index.css">
</head>

<body>
    <h1 id="loading-text">Loading...</h1>
    <div class="container not-auth d-none">
        <button type="button" id="loginButton">Login</button>
        <button type="button" id="signUpButton">Sign up</button>
    </div>
    <div class="container auth d-none">
        <h1 id="logged-in-text">You are logged in</h1>
        <button type="button" id="signOutButton">Sign Out</button>
    </div>

    <div class="form-container d-none">
        <form action="">
            <label for="">Username
                <input type="text" id="username-input" />
            </label>

            <label for="">Email
                <input type="text" id="email-input" />
            </label>

            <label for="">Password
                <input type="password" id="password-input" />
            </label>

            <label for="">Repeat Password
                <input type="password" id="password2-input" />
            </label>
            <button type="submit" id="submit">submit</button>
        </form>
        <h4 id="change">Create Account/You have account?</h4>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.0/axios.js"></script>
<script src="JS/index.js"></script>

</html>